<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club </title>
</head>
<body>
    <h2>REST API webszolgáltatásai</h2>
    <h3>Github <a href="https://github.com/hurig/clubsWebSerivice/tree/master" target="_blank">repository</a>: https://github.com/hurig/clubsWebSerivice/tree/master</h3>

    <table>
        <tr>
            <th>Metódus</th>
            <th>URL</th>
            <th>Szolgáltatás</th>
        </tr>
        <tr>
            <td>GET</td>
            <td><a href="/categories">/categories</a></td>
            <td>Kategóriák lisjáta</td>
        </tr>
        <tr>
            <td>GET</td>
            <td><a href="/categories/1">/categories/{id}</a></td>
            <td>Egy kategória</td>
        </tr>
        <tr>
            <td>GET</td>
            <td><a href="/categories/1/clubs">/categories/{id}/clubs</a></td>
            <td>Egy kategória szórakozó helyei</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/categories</td>
            <td>Új kategróia létrehozása</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/categories/{id}</td>
            <td>Kategória törlése</td>
        </tr>
        <tr>
            <td>PATCH</td>
            <td>/categories/{id}/{agelimit}</td>
            <td>Kategória módosítása (alsó korhatár)</td>
        </tr>
    </table>
</body>
</html>